# Encore
.encore
/.encore
encore.gen
encore.gen/
encore.gen.go
encore.gen.cue

# Dependencies
node_modules

# Build outputs
dist
*.js
*.js.map
*.d.ts
*.d.ts.map
tsconfig.tsbuildinfo

# Local
.rlm
.env
/encore.gen
